* 
    padding: 0;
    margin: 0;

.section
    height: 100%;

.nav__list
    padding: 32px 0;

.nav__item
    display: inline-block;
    margin: 0 16px;
    list-style: none;

#full
    height: 100vh;
    overflow: hidden;

.js-full__wrapper
    min-height: 100vh;
    will-change: transform;

.js-full__wrapper .js-full__section:nth-child(1)
    background-color: red;

.js-full__wrapper .js-full__section:nth-child(2)
    background-color: orange;

.js-full__wrapper .js-full__section:nth-child(3)
    background-color: green;

.js-full__nav
    position: fixed;
    top: 35%;
    right: 2%;
    .js-full__item
        list-style: none;
        .js-full__link
            display: inline-block;
            width: 6px;
            height: 6px;
            margin: 12px;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;

.js-full__wrapper.active
    transition: all 0.7s;